<template>
  <div class="Cart">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h3 class="display-4">Shopping List</h3>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 mb-3" v-for="(item,i) in cartlist" :key="item.id">
          <div class="card">
            <div class="card-body">
              <img :src="item.imgurl" class="card-img-top" />
              <div class="info">
                <h4 class="card-title">{{item.name}}</h4>
                <h5 class="card-subtitle mb-2 text-danger">單價：{{item.price}}</h5>
                <h5 class="card-subtitle mb-2">
                  數量：{{item.count}}小計：
                  <span class="text-danger">{{item.price * item.count }}</span>
                </h5>
                <button type="button" class="float-right" @click="Moveitem(item.id,i)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                <button type="button" class="float-right mr-2" @click="Addcount(item)">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </button>
                <button type="button" class="float-right mr-2" @click="Movecount(item)">
                  <i class="fa fa-minus-circle" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 offset-md-2">
          <hr />
          <h4 class="card-title mb-5">
            Total：
            <span class="text-danger">{{ $store.getters.Totalprice }}</span>
            <button type="button" class="btn btn-success float-right">結帳去</button>
          </h4>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { log } from "util";
export default {
  data() {
    return {
      cartlist: []
    };
  },
  created() {
    this.cartlist = this.$store.state.car;
    console.log(this.cartlist);
  },
  methods: {
    Addcount(item) {
      var goodinfo = {
        id: item.id,
        name: item.name,
        price: item.price,
        imgurl: item.imgurl,
        count: 1
      };
      this.$store.commit("CartList", goodinfo);
    },
    Movecount(item) {
      var goodinfo = {
        id: item.id,
        name: item.name,
        price: item.price,
        imgurl: item.imgurl,
        count: -1
      };
      this.$store.commit("Cartcount", goodinfo);
    },
    Moveitem(id, index) {
      this.cartlist.splice(index, 1);
      this.$store.commit("Cartmove", id);
    }
  }
};
</script>
