<template>
  <div class="detail">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h3 class="display-4">Product Detail</h3>
    </div>
    <div class="container">
      <div v-show="loading" class="se-pre-con"></div>
      <div class="row">
        <div class="col-md-6">
          <img :src="content.imgurl" width="100%" />
        </div>
        <div class="col-md-6">
          <h3 class="mt-3 mb-3">{{content.name}}</h3>
          <h4 class="mt-3 mb-3 text-danger">NTD：{{content.price}}</h4>
          <p>{{content.discript}}</p>
          <button type="button" class="btn btn-success mb-5" @click="AddToCart(content)">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      content: [],
      loading: false
    };
  },
  created() {
    var id = this.$route.params.id;
    this.loading = true;
    this.$axios
      .get("http://shop.ray-lee.name/oct/api/v1/product/" + id)
      .then(res => {
        this.content = res.data.data;
        this.loading = false;
        return;
      })
      .catch(error => {
        console.log(error);
      });
  },
  methods: {
    AddToCart(content) {
      var goodinfo = {
        id: content.id,
        name: content.name,
        price: content.price,
        imgurl: content.imgurl,
        count: 1
      };
      this.$store.commit("CartList", goodinfo);
    }
  }
};
</script>
<style>
</style>