<template>
  <div class="list">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h3 class="display-4">Product List</h3>
    </div>
    <div class="container">
      <div v-show="loading" class="se-pre-con"></div>
      <div class="row">
        <div class="col-md-4 mb-3" v-for="(item,index) in content">
          <div class="card">
            <div class="card-body">
              <img :src="item.imgurl" class="card-img-top" />
              <div class="info">
                <h4 class="card-title">{{item.name}}</h4>
                <h5 class="card-subtitle mb-2 text-danger">NTD：{{item.price}}</h5>
                <button
                  type="button"
                  class="btn btn-success btn-sm float-right"
                  @click="AddToCart(item)"
                >Add to cart</button>
                <button
                  class="btn btn-danger btn-sm float-right mr-2"
                  @click="Godetail(item.id)"
                >Show Detail</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      content: [],
      loading: false
    };
  },
  created() {
    this.loading = true;
    this.$axios
      .get("http://shop.ray-lee.name/oct/api/v1/product/")
      .then(res => {
        this.content = res.data.data;
        this.loading = false;
      })
      .catch(error => {
        console.log(error);
      });
  },
  methods: {
    AddToCart(item) {
      var goodinfo = {
        id: item.id,
        name: item.name,
        price: item.price,
        imgurl: item.imgurl,
        count: 1
      };
      this.$store.commit("CartList", goodinfo);
    },
    Godetail(id) {
      this.$router.push({
        name: "Detail",
        params: {
          id: id
        }
      });
    }
  }
};
</script>
<style>
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 100px;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  background-color: #fff;
  background-image: url(../assets/load.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.card-body {
  display: flex;
  align-items: center;
}
.card-body img {
  width: 100px;
  height: 100px;
}
.card-body .info {
  flex: 1;
  padding-left: 10px;
}
</style>
