<template>
  <div id="app">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <nav class="my-2 my-md-0 mr-md-3">
        <router-link to="/" class="mr-3">Home</router-link>
        <router-link to="/cart">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <span class="badge badge-danger badge-pill">{{ $store.getters.Countall }}</span>
        </router-link>
      </nav>
    </div>
    <router-view />
  </div>
</template>
<style>
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);
.display-4 {
  font-size: 3rem;
}
.container {
  overflow: hidden;
}
.List .container .row,
.Cart .container .row,
.detail .container .row {
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 0.5s;
  margin-left: -15px;
  opacity: 1;
  position: relative;
}
@keyframes example {
  from {
    margin-left: -100%;
    opacity: 0;
  }
  to {
    margin-left: -15px;
    opacity: 1;
  }
}
</style>
